@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    

}

/* HEADER */
header{
    width: 100vw;
    height: 100px;
    background-color: #c8ded2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 5;
}

.container-header{
width: 100%;
max-width: 1400px;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.container-header > a{
color: #254668;
font-size: 50px;
font-weight: 900;

}

nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
ul>a{
    color: black;
    font-size: 25px;
    
}

ul>a:hover{font-weight: 800;}
/* FIN HEADER */
/* ----------------------------------------------------------------------------- */
/* HERO */

.hero{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url("images/ola.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
    
}
.container-hero{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    z-index: 4;
}

h1{
    font-weight: 800;
    font-size: 100px;
}

.container-hero > p {
    font-size: 25px;
}

.hero-button{
  border: none;
  border-radius: 10px;
  background-color: #254668;
  color: white;
  width: 100px;
  min-height: 50px;
  font-size: 20px;
  
}

.hero-button:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* FIN HERO */

/* ----------------------------------------------------------------------------- */

/* TEXT-MEDIO */

.text-medio{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container-text-medio{
background-color: #c8ded2;
width: 80%;
height: 85%;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}

.img-text-medio{
    
    
    width: 50%;
    height: 80%;
}

.div-text-medio{
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-wrap: nowrap;

}

.div-text-medio>h2 {
    font-size: 40px;
    font-weight: 700;
}

.div-text-medio > p {
font-size: 25px;
}

/* @media screen and (max-width: 750px) {
    .container-text-medio{flex-direction: column;}
    .div-text-medio{width: 85%; height: 50%;gap: 0px;}
    .div-text-medio>p{font-size: 20px;} 
    .img-text-medio{width: 95%;}
    
} */

/* FIN TEXT-MEDIO */

/* ----------------------------------------------------------------------------- */

/* CARDS */

.cards{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-cards{
background-color: #c8ded2;
width: 80%;
height: 85%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
max-width: 1800px;
}

.container-container-card{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: 25px;
}

.img-card{
  background-color: aliceblue;
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  height: 100%; 
  border-radius: 100px; 
}



.container-cards>h2{
    font-size: 70px;
}

.text-card{
    text-align: center;
    gap: 10px;
    
    
}
.text-card>button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: 600;
    background-color: #c8ded2;
}

.text-card>button:hover{box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
.text-card>button:active{background-color: black; color: white;}

/* FIN CARDS */

/* ----------------------------------------------------------------------------------- */

/* FOOTER */

footer{
    width: 100vw;
    height: 25vh;
    background-color: #c8ded2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1400px;
    justify-content: left;
    align-items: center;
    gap: 100px;
    
}


.info-footer{
    text-indent: 50px;
}

.info-footer>ul>h3{
font-size: 30px;
}
.info-footer>ul>li{
font-size: 25px;
line-height: 40px;
color: gray;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mensaje{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#mensaje{
    height: 100px;
    width: 200px;
}
input{
    border: none;
    border-radius: 10px;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
}